html {
    color-scheme: dark light;
    font-family: sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: center;
    margin: 0;
}

.home-panel {
    background-color: #262c3b;
}

.home-wrapper {
    height: 35vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.logo-area {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
}

#logo-btn {
    aspect-ratio: 1 / 1;
    border: hidden;
    padding: 24px;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bolder;
    background-color: white;
    color: #333;
}

#logo-btn:hover,
.home-btn:hover,
.nav-btn:hover {
    color: #AD2B31;
    cursor:pointer;
}

#site-name {
    font-size: 2.5rem;
    color: white;
}

.home-area {
    display: inline-flex;
    box-sizing: border-box;
}

.home-btn {
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: #555;
    border: hidden;
    border-radius: 8px;
    margin: 8px;
    padding: 6px;
}

.main-panel {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #262c3b;
    padding: 16px;
    border-radius: 16px;
    margin-top: 16px;
    position: sticky;
    top: 16px;
}

#search-window {
    font-size: 1.25rem;
    width: 210px;
    height: 2rem;
    border: hidden;
    border-radius: 8px;
}

.nav-btn {
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: hidden;
    border-radius: 8px;
    background-color: white;
    color: #555;
}

#lt {
    background: linear-gradient(180deg,
            gold,
            gold 33%,
            green 33%,
            green 67%,
            red 67%);
    color: white;
}

.media-panel {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    margin: 16px;
}

.media-box {
    background-color: #e5e5e5;
    color: white;
    height: 240px;
    font-family: sans-serif;
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
}

footer {
    width: 100%;
    background-color: #262c3b;
    color: #ccc;
    line-height: 1.5rem;
    text-align: center;
    padding: 8px;
}

@media (min-width: 800px) {
    body {
        flex-flow: row;
    }

    .home-panel {
        height: auto;
        width: 20vw;
    }

    .home-wrapper {
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        position: sticky;
        top: 0;
    }

    .logo-area {
        width: 100%;
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #site-name {
        padding: 32px;
        text-align: center;
    }

    .home-area {
        height: 30vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }

    .main-panel {
        width: auto;
        flex: 1;
        margin-left: 16px;
        margin-right: 16px;
    }

    .nav-bar {
        box-sizing: content-box;
    }

    .media-panel {
        width: 100%;
        margin-bottom: 32px;
    }

    footer {
        box-sizing: content-box;
        width: 5vw;
        text-align: center;
        writing-mode: vertical-rl;
        padding-left: 8px;
        padding-right: 8px;
    }
}
