@charset "UTF-8";
html {
	font-size: 2rem;
	text-align: end;
}
.parent {
  	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /*auto-fill*/
  	grid-gap: 3rem;
	background-color: gray;
}