@charset "UTF-8";
html {
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: #EEEEEE;
}
body {
    background-color: #DDDDDD;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1rem;
}
button {
    font-family: inherit;
    font-size: 2rem;
}
h1 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    font-size: 4rem;
	font-style: italic;
    text-align: center;
    color: blueviolet;
	padding: 1rem;
}
main {
    display: grid;
	grid-template-columns: 20% 1fr;
	margin-top: 2rem;
	margin-bottom: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    font-size: 1.2rem;
    text-align: left;
}
h3 {
    color: blueviolet;
	text-align: right;
	margin-right: 0.25rem;
}
p {
	margin: 1.2rem;
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #484848;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.2rem;
}
footer {
	font-family: Courier New, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Consolas", "monospace";
	font-size: 1rem;
	text-align: center;
}

@media (max-width:600px){
html {
	width: auto;
}
h1 {
	font-size: 3rem;
}
}

@media (min-width:600px){
html {
	width: 80%;
}
}
