@charset "utf-8";
html {
	display: block;
}
body {
	width: 95%;
	min-height: 100%;
	background-color: white;
	font-size: 1rem;
	font-family: sans-serif;
	line-height: 2rem;
	text-align: center;
	line-height: 4rem;
	color: white;
	display: grid;
	grid-template-columns: 17.5% 65% 17.5%;
	grid-template-rows: 25vh 75vh 10vh;
	grid-gap: 2px;
	margin-right: auto;
	margin-left: auto;
}
.home-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 1 / 2;
}
.top-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.search-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}
.left-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 2 / 3;
}
.main-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}
.right-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
.footer-panel {
	border-style: hidden;
	border-radius: 4px;
	background-color: royalblue;
	grid-row: 3 / 4;
	grid-column: 1 / 4;
}

@media (max-width:1024px){
	html {
		display: block;
	}
	body {
		margin-left: 2em;
	}
}

@media (max-width:720px){
	html {
		display: block;
	}
	body {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: auto;
		align-content: flex-start;
		margin-right: auto;
		margin-left: auto;
	}
	.home-panel {
		height: 10vh;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.search-panel {
		height: 10vh;
		grid-column: 2 / 4;
		grid-row: 1 / 2;
	}
	.top-panel {
		height: 15vh;
		grid-column: 1 / 4;
		grid-row: 3 / 4;
		z-index: 1;
	}
	.main-panel {
		height: 75vh;
		grid-column: 1 / 4;
		grid-row: 4 / 5;
	}
	.left-panel {
		height: 15vh;
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}
	.right-panel {
		height: 15vh;
		grid-column: 1 / 4;
		grid-row: 5 / 6;
	}
	.footer-panel {
		height: 10vh;
		grid-column: 1 / 4;
		grid-row: 6 / 7;
	}
}
