html {
  width: 100%;
  display: block;
}
body {
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.header-tab {
  width: 100vw;
  /* background-image: url('img/top-banner.jpg'); */
  background-color: #262c3b;
  border: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.buttons-bar {
  background-color: #777;
  display: inline-flex;
  justify-content: space-evenly;
  border: hidden;
  border-radius: 8px;
  margin: 16px;
  padding: 8px 16px 8px 16px;
}
#top-button {
  background-color: #333;
  color: white;
  font-size: 1rem;
  padding: 8px;
  margin: 8px;
  border: hidden;
  border-radius: 8px;
}
.site-name {
  color: white;
  font-size: 3.5rem;
  text-align: center;
  padding: 16px;
  margin: 8px 16px 8px 16px;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #777;
  border: hidden;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}
.search-window,
.search-button,
.lang-select {
  font-size: 1rem;
  padding: 8px;
  margin: 8px;
  border: hidden;
  border-radius: 8px;
}
.search-button {
  font-size: 1rem;
}
.main-tab {
  display: flex;
  flex-direction: column-reverse;
}
.media-box {
  width: 93vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
  gap: 16px;
  margin: 16px;
}
#media {
  background-color: #ccc;
  height: 30vh;
  border: hidden;
  border-radius: 8px;
  color: #333;
  text-align: center;
  line-height: 4rem;
}
.info-bar {
  width: 93vw;
  color: #333;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.5rem;
  text-align: justify;
  padding: 16px;
}
.footer-tab {
  width: 100vw;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  /* background-image: url('img/top-banner.jpg'); */
  background-color: #262c3b;
  color: #ccc;
  font-size: 1rem;
  font-style: italic;
  line-height: 2rem;
  text-align: center;
  border: hidden;
}
@media (min-width: 720px) {
  .header-tab {
    align-items: center;
  }
  .nav-bar {
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  .header-tab {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
